# C is a good fallback for DTS files
*.keymap linguist-language=c
*.dtsi   linguist-language=c
*.dts    linguist-language=c

# Documentation
docs/* linguist-documentation

# Vendored code
# config/zmk-helpers*

# Generated code
*.svg linguist-generated
