//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// SHORTS
//
// (T): template
//
// (T)MC: macro
// (T)OVR: mod-morph (== QMK mod override)
// (T)TD: tap-dance
// (T)HT: hold-tap (mod or lay)
// (T)KP: key press (alter default key output)
// (T)CB: combo
//
// lf: layer flip on/off (== QMK Tg(layer))
// lf0: layer off
// lf1: layer on
// lto: switch to layer (== QMK To(layer))
// lh: activate layer while key is held (== QMK Mo(layer))
// los: activate layer once
//
// hrm: homerow mods
// fs: finger strong
// fw: finger weak
// mos: activate mod once
//
// MACROS, BEHAVIORS & COMBOS TEMPLATES
// - name hints at either result > method
// - a more detailed description should be added in a comment
// - some behaviors may have their own comments, related to the ones in template

/ {
    macros {

        // key sequence ouputs a diacritic on qwerty-international layouts
        TMC_diac: TMC_diac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
            label = "TMC_DIAC";
        };

        // é
        MC_eacute: MC_eacute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE &kp E>;
            label = "É";
        };

        // è
        MC_egrave: MC_egrave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
            label = "È";
        };

        // ê
        MC_ecirc: MC_ecirc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp E>;
            label = "Ê";
        };

        // à
        MC_agrave: MC_agrave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp A>;
            label = "À";
        };

        // ô
        MC_ocirc: MC_ocirc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp O>;
            label = "Ô";
        };

        // ç
        MC_ccedil: MC_ccedil {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(C)>;
            label = "Ç";
        };

        // æ
        MC_ligae: MC_ligae {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(C)>;
            label = "Æ";
        };

        // œ
        MC_ligoe: MC_ligoe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(C)>;
            label = "Œ";
        };

        MC_lh0_alpha: MC_lh0_alpha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog_off 0>, <&macro_pause_for_release>, <&tog_on 0>;

            label = "MC_LH0_ALPHA";
        };

        MC_lf1_app_alpha: MC_lf1_app_alpha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&KP_lf1 0 &KP_lf1 0 &KP_lf1 0>;
            label = "MC_LF1_APP_ALPHA";
        };

        TMC_esc_togoff: TMC_esc_togoff {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &tog_off 0>;
            label = "TMC_ESC_TOGOFF";
        };

        MC_esc_tog0_all: MC_togoff_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &tog_off 1 &tog_off 3 &tog_off 4>;
            label = "MC_TOGOFF_1";
        };

        MC_ldrk_lto0: MC_ldrk_lto0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp F13>;
            label = "Switch to Alpha before launching Leader Key;
        };
    };

    behaviors {
        // hold-tap tpl for thumbs
        // - thumbs strong+ agility-
        // - hold gesture combines with keys from both keeb halves
        THT_Thumbs: THT_Thumbs {
            compatible = "zmk,behavior-hold-tap";
            label = "THT_THUMBS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        // hold-tap tpl for homerow mods
        THT_HRM: THT_HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "THT_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        // mod-morph tpl for alternate shift output
        TOV_LSFT: TOV_LSFT {
            compatible = "zmk,behavior-mod-morph";
            label = "TOV_LSFT";
            bindings = <&kp COMMA>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        // hold-tap only for layers
        // to activate a layer while held OR to switch to it
        // depending on the gesture
        HT_lh_lto: HT_lh_lto {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_LH_LTO";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        // left keeb homerow mods for index & major (stronk)
        HT_hrm_StL: HT_hrm_StL {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_HRM_STL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            hold-trigger-key-positions = <16 17 5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        // right keeb homerow mods for index & major (stronk)
        HT_hrm_StR: HT_hrm_StR {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_HRM_STR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
        };

        // left keeb homerow mods for ring & pinky (weak)
        HT_hrm_WkL: HT_hrm_WkL {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_HRM_WKL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
        };

        // right keeb homerow mods for ring & pinky (weak)
        HT_hrm_WkR: HT_hrm_WkR {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_HRM_WKR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
        };

        // hold: Mo(), tap: OSL()
        HT_hl_ol: HT_hl_ol {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_HL_OL";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&MC_lh0_alpha>, <&KP_lf0>;
        };

        // layer flip on/off
        KP_lf: KP_lf {
            compatible = "zmk,behavior-toggle-layer";
            label = "KP_lf";
            #binding-cells = <1>;
            toggle-mode = "flip";
        };

        THT_kp_trsp: THT_kp_trsp {
            compatible = "zmk,behavior-hold-tap";
            label = "THT_KP_TRSP";
            bindings = <&kp>, <&trans>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
        };

        // force layer off
        KP_lf0: KP_lf0 {
            compatible = "zmk,behavior-toggle-layer";
            label = "KP_lf0";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        // force layer on
        KP_lf1: KP_lf1 {
            compatible = "zmk,behavior-toggle-layer";
            label = "KP_lf1";
            #binding-cells = <1>;
            toggle-mode = "on";
        };

        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
            locking;
        };

        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
            locking;
        };

        // t: [,] td: [;]
        TD_semicomma: TD_semicomma {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SEMICOMMA";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;

            tapping-term-ms = <150>;
        };

        // t: [.] td: [:]
        TD_dotcolon: TD_dotcolon {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DOTCOLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp LS(SEMI)>;

            tapping-term-ms = <130>;
        };

        // t: [x] td: [z]
        TD_x_z: TD_x_z {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_X_Z";
            #binding-cells = <0>;
            bindings = <&kp X>, <&kp Z>;

            tapping-term-ms = <150>;
        };

        // t: [␣] td: [␣.]
        TD_spc_dot: TD_spc_dot {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SPC_DOT";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp DOT>;

            tapping-term-ms = <150>;
        };

        // t: [,] td: [']
        TD_com_sqt: TD_com_sqt {
            compatible = "zmk,behavior-tap-dance";
            label = "Double-tap Comma Equals Single Quote";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SQT>;

            tapping-term-ms = <150>;
        };

        // t: [-] dt: [?]
        TD_min_qsm: TD_min_qsm {
            compatible = "zmk,behavior-tap-dance";
            label = "Double-tap Minus Equals Single Quote";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp QUESTION>;

            tapping-term-ms = <150>;
        };

        // t: [;] dt: ["]
        TD_scln_dsqt: TD_scln_dsqt {
            compatible = "zmk,behavior-tap-dance";
            label = "Double-tap [;] -> ["]";
            #binding-cells = <0>;
            bindings = <&kp SEMI>, <&kp DOUBLE_QUOTES>;

            tapping-term-ms = <150>;
        };

        // t: [_] td: [!]
        TD_undr_excl: TD_undr_excl {
            compatible = "zmk,behavior-tap-dance";
            label = "Double-tap [_] -> [!]";
            #binding-cells = <0>;
            bindings = <&kp UNDER>, <&kp EXCL>;

            tapping-term-ms = <150>;
        };

        // LS[,] -> [']
        OV_comQuote: OV_comQuote {
            compatible = "zmk,behavior-mod-morph";
            label = "Shifted [,] -> [;]";
            bindings = <&TD_semicomma>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_dotMinus: OV_dotMinus {
            compatible = "zmk,behavior-mod-morph";
            label = "Shifted [.] -> [-]";
            bindings = <&TD_dotcolon>, <&kp MINUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        // shifted numbers give f-keys
        OV_func_0: OV_func_0 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_10";
            bindings = <&kp N0>, <&kp F10>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_1: OV_func_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_1";
            bindings = <&kp N1>, <&kp F1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_2: OV_func_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_2";
            bindings = <&kp N2>, <&kp F2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_3: OV_func_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_3";
            bindings = <&kp N3>, <&kp F3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_4: OV_func_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_4";
            bindings = <&kp N4>, <&kp F4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_5: OV_func_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_5";
            bindings = <&kp N5>, <&kp F5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_6: OV_func_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_6";
            bindings = <&kp N6>, <&kp F6>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_7: OV_func_7 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_7";
            bindings = <&kp N7>, <&kp F7>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_8: OV_func_8 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_8";
            bindings = <&kp N8>, <&kp F8>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        OV_func_9: OV_func_9 {
            compatible = "zmk,behavior-mod-morph";
            label = "OV_FUNC_9";
            bindings = <&kp N9>, <&kp F9>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        CB_rcast {
            bindings = <&kp F15>;
            key-positions = <5 15>;
            layers = <0 1 3 4>;
        };

        CB_ldrk {
            bindings = <&kp F13>;
            key-positions = <4 14>;
            layers = <0 1 3 4>;
        };

        CB_lto_app2alpha {
            bindings = <&to 0>;
            key-positions = <25 34>;
            layers = <2>;
        };

        // flip between alpha and app layers
        CB_lto_app2alpha {
            bindings = <&to 0>;
            key-positions = <25 34>;
            layers = <2>;
        };

        CB_lto_alpha2app {
            bindings = <&to 2>;
            key-positions = <25 34>;
            layers = <0>;
        };

        CB_btclear {
            bindings = <&bt BT_CLR>;
            key-positions = <37 32>;
            layers = <0>;
        };

        // apply OV_func(s) only on specified layers
        CB_ov_f1 {
            bindings = <&OV_func_1>;
            key-positions = <0 0>;
            layers = <2>;
        };

        CB_ov_f2 {
            bindings = <&OV_func_2>;
            key-positions = <1 1>;
            layers = <2>;
        };

        CB_ov_f3 {
            bindings = <&OV_func_3>;
            key-positions = <2 2>;
            layers = <2>;
        };

        CB_ov_f4 {
            bindings = <&OV_func_4>;
            key-positions = <3 3>;
            layers = <2>;
        };

        CB_ov_f5 {
            bindings = <&OV_func_5>;
            key-positions = <4 4>;
            layers = <2>;
        };

        CB_ov_f6 {
            bindings = <&OV_func_6>;
            key-positions = <5 5>;
            layers = <2>;
        };

        CB_ov_f7 {
            bindings = <&OV_func_7>;
            key-positions = <6 6>;
            layers = <2>;
        };

        CB_ov_f8 {
            bindings = <&OV_func_8>;
            key-positions = <7 7>;
            layers = <2>;
        };

        CB_ov_f9 {
            bindings = <&OV_func_9>;
            key-positions = <8 8>;
            layers = <2>;
        };

        CB_ov_f0 {
            bindings = <&OV_func_0>;
            key-positions = <9 9>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
         &kp G  &MC_agrave  &kp C                     &kp H                   &TD_x_z           &kp K           &kp W                   &kp M                     &MC_eacute  &kp P
         &kp S  &kp A       &HT_hrm_StL LEFT_SHIFT N  &HT_hrm_StL LEFT_GUI U  &TD_min_qsm       &TD_com_sqt     &HT_hrm_StR LEFT_GUI E  &HT_hrm_StR LEFT_SHIFT T  &kp O       &kp L
&kp ESC  &kp B  &kp Q       &HT_hrm_StL LCTRL V       &HT_hrm_StL LEFT_ALT Y  &HT_lh_lto 4 4    &HT_lh_lto 4 4  &HT_hrm_StR LEFT_ALT I  &HT_hrm_StR LCTRL D       &kp J       &kp F  &kp RET
                            &kp TAB                   &TD_spc_dot             &HT_lh_lto 1 1    &HT_lh_lto 3 3  &kp R                   &kp BACKSPACE
            >;
        };

        symb {
            bindings = <
                  &kp CARET  &kp HASH  &kp AMPS  &kp DOLLAR  &kp EXCLAMATION    &kp BACKSLASH  &kp N7  &kp N8  &kp N9  &kp N0
                  &kp GRAVE  &kp STAR  &kp PLUS  &kp FSLH    &trans             &kp SEMI       &kp N4  &kp N5  &kp N6  &kp PERCENT
&MC_esc_tog0_all  &kp TILDE  &kp PIPE  &kp AT    &kp EQUAL   &trans             &trans         &kp N1  &kp N2  &kp N3  &kp COLON    &trans
                                       &trans    &trans      &tog 1             &trans         &trans  &trans
            >;
        };

        appn {
            bindings = <
                &kp N1     &kp N2  &kp N3  &kp N4     &kp N5          &kp F9     &kp O      &kp J      &kp H  &kp EQUAL
                &trans     &trans  &kp N   &kp U      &kp MINUS       &kp F5     &kp T      &kp D      &kp C  &kp MINUS
&kp LEFT_SHIFT  &kp LCTRL  &trans  &kp V   &kp Y      &kp Z           &kp ENTER  &kp E      &kp I      &kp K  &kp F5     &kp F9
                                   &trans  &kp SPACE  &kp LEFT_ALT    &kp BSPC   &kp EQUAL  &kp MINUS
            >;
        };

        slct {
            bindings = <
                  &none  &none  &none           &none         &none    &none   &kp MINUS  &kp EQUAL  &none      &none
                  &none  &none  &kp LEFT_SHIFT  &kp LEFT_GUI  &none    &none   &kp BSPC   &kp UP     &kp DEL    &none
&MC_esc_tog0_all  &none  &none  &kp LCTRL       &kp LEFT_ALT  &none    &none   &kp LEFT   &kp DOWN   &kp RIGHT  &none  &none
                                &none           &none         &none    &tog 3  &none      &none
            >;
        };

        util {
            bindings = <
                  &trans  &kp LC(KP_N7)  &kp LC(KP_N8)  &kp LC(KP_N9)  &trans    &kp C_VOL_UP  &kp COMMA  &kp LA(RIGHT)  &kp DOT    &kp LS(GT)
                  &trans  &kp LC(KP_N4)  &kp LC(KP_N5)  &kp LC(KP_N6)  &trans    &kp C_VOL_DN  &kp LEFT   &kp C_PLAY     &kp RIGHT  &kp LS(LT)
&MC_esc_tog0_all  &trans  &kp LC(KP_N1)  &kp LC(KP_N2)  &kp LC(KP_N3)  &trans    &trans        &kp J      &kp LA(LEFT)   &kp L      &trans      &trans
                                         &trans         &trans         &trans    &trans        &trans     &trans
            >;
        };

        dvce {
            bindings = <
        &bt BT_SEL 0  &bt BT_SEL 1  &none   &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &bt BT_PRV    &bt BT_NXT    &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans  &trans  &none     &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        tpl {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
