//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "keys_fr.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        mc_fr_eacute: mc_fr_eacute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE &kp E>;
            label = "MC_FR_EACUTE";
        };

        fr_diac: fr_diac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
            label = "FR_DIAC";
        };

        fr_egrave: fr_egrave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
            label = "FR_EGRAVE";
        };

        fr_ecirc: fr_ecirc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp E>;
            label = "FR_ECIRC";
        };

        fr_agrave: fr_agrave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp A>;
            label = "FR_AGRAVE";
        };

        fr_ocirc: fr_ocirc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp O>;
            label = "FR_OCIRC";
        };

        fr_ccedil: fr_ccedil {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(C)>;
            label = "FR_CCEDIL";
        };
    };

    behaviors {
        td_semicomma: td_semicomma {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SEMICOMMA";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;

            tapping-term-ms = <150>;
        };

        td_dotcolon: td_dotcolon {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DOTCOLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp LS(SEMI)>;

            tapping-term-ms = <130>;
        };

        hrm_StL: hrm_StL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_STL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            hold-trigger-key-positions = <16 17 5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        layers_switch: layers_switch {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERS_SWITCH";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        hrm_WkL: hrm_WkL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_WKL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
        };

        TPL_HT_Thumbs: TPL_HT_Thumbs {
            compatible = "zmk,behavior-hold-tap";
            label = "TPL_HT_THUMBS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        TPL_HT_HRM: TPL_HT_HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "TPL_HT_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        hrm_StR: hrm_StR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_STR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
        };

        hrm_WkR: hrm_WkR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_WKR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
        };

        TPL_ShiftMorph: TPL_ShiftMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "TPL_SHIFTMORPH";
            bindings = <&kp COMMA>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_comQuote: mm_comQuote {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_COMQUOTE";
            bindings = <&td_semicomma>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        ht_hl_ol: ht_hl_ol {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_HL_OL";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            bindings = <&mo>, <&sl>;
        };
    };

    combos {
        compatible = "zmk,combos";

        xapp2xtxt {
            bindings = <&to 0>;
            key-positions = <20 31>;
            layers = <4>;
        };

        x2xapp {
            bindings = <&to 4>;
            key-positions = <20 31>;
            layers = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        select_toggle {
            bindings = <
         &kp LG(Q)  &kp LG(W)  &kp LG(E)      &kp LG(R)  &kp T             &none         &none           &none               &none            &none
         &kp A      &kp S      &kp D          &kp F      &kp G             &none         &kp BSPC        &kp UP_ARROW        &kp DEL          &kp LEFT_SHIFT
&kp ESC  &kp LG(Z)  &kp LG(X)  &kp LG(C)      &kp LG(V)  &kp LG(B)         &none         &kp LEFT_ARROW  &kp DOWN_ARROW      &kp RIGHT_ARROW  &none           &kp ENTER
                               &ht_hl_ol 6 6  &none      &kp LEFT_SHIFT    &kp LEFT_GUI  &kp LEFT_ALT    &layers_switch 1 1
            >;
        };

        txt {
            bindings = <
         &kp Q  &fr_agrave        &kp C                &kp H                  &td_semicomma    &kp K         &kp W                  &kp M                &kp V             &kp P
         &kp S  &hrm_WkL LCTRL A  &hrm_StL LEFT_ALT N  &hrm_StL LEFT_SHIFT U  &mm_comQuote     &td_dotcolon  &hrm_StR LEFT_SHIFT E  &hrm_StR LEFT_ALT T  &hrm_WkR LCTRL O  &kp L
&kp ESC  &kp B  &kp G             &kp V                &kp Y                  &kp Z            &kp X         &kp I                  &kp D                &kp J             &kp F  &kp ENTER
                                  &ht_hl_ol 6 6        &kp SPACE              &kp TAB          &none         &kp R                  &layers_switch 2 0
            >;
        };

        select_hold {
            bindings = <
         &none  &none  &none  &none      &none    &kp ESC  &kp ESC         &kp ESC         &kp ESC          &kp ESC
         &none  &none  &none  &none      &none    &none    &kp BSPC        &kp UP_ARROW    &kp DEL          &none
&kp ESC  &none  &none  &none  &none      &none    &sl 1    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none    &kp ENTER
                       &none  &kp SPACE  &none    &none    &none           &trans
            >;
        };

        sym_hold {
            bindings = <
                   &kp LA(BACKSPACE)   &kp BACKSPACE  &kp UP     &kp DELETE     &kp LA(DELETE)        &kp N5      &kp N6           &kp N7       &kp N8    &kp N9
                   &kp LA(LEFT_ARROW)  &kp LEFT       &kp DOWN   &kp RIGHT      &kp LA(RIGHT)         &kp N0      &kp N1           &kp N2       &kp N3    &kp N4
&kp LG(BACKSPACE)  &kp LG(UP_ARROW)    &kp LG(LEFT)   &kp ENTER  &kp LG(RIGHT)  &kp LG(DOWN_ARROW)    &kp PERIOD  &kp PLUS         &kp MINUS    &kp STAR  &kp FSLH  &kp CARET
                                                      &trans     &trans         &trans                &kp EQUAL   &kp RIGHT_SHIFT  &kp PERCENT
            >;
        };

        app_toggle {
            bindings = <
         &kp TAB    &kp Q  &kp W     &kp E      &kp R    &kp I  &kp O  &kp P  &kp DOT    &kp EQUAL
         &kp LSHFT  &kp A  &kp S     &kp D      &kp F    &kp U  &kp J  &kp L  &kp COMMA  &kp MINUS
&kp ESC  &kp LCTRL  &kp Z  &kp X     &kp C      &kp V    &kp Y  &kp H  &kp K  &kp N      &kp F5     &kp F9
                           &kp LALT  &kp SPACE  &kp B    &kp T  &kp G  &kp M
            >;
        };

        apn_hold {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        util {
            bindings = <
         &kp LG(LS(TAB))  &kp LA(LC(W))  &kp LC(LA(E))       &kp LC(LA(R))   &trans    &kp K_VOLUME_UP  &kp J      &kp LS(GT)          &kp L      &trans
         &kp LG(TAB)      &trans         &trans              &trans          &trans    &kp K_VOL_DN     &kp LEFT   &kp K_PLAY_PAUSE    &kp RIGHT  &trans
&kp ESC  &kp LG(GRAVE)    &trans         &trans              &trans          &trans    &trans           &kp COMMA  &kp LS(LT)          &kp DOT    &trans  &trans
                                         &kp LG(LEFT_SHIFT)  &kp LEFT_SHIFT  &trans    &none            &trans     &layers_switch 1 1
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
